<div class="site-header">
    <div class="top-menu"></div>
    <div class="menu-content">
        <div class="menu-bar">
            <div class="site-logo">
                <a href="/"><img src="/images/logo.png" width="220"></a>
            </div>
            <div class="nav-bar">
                <nav class="navigation">
                <div class="nav-menu">
                    <div class="nav-item active">
                        <a href="/">Home</a>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#">Channel Partners</a>
                        <div class="dropdown-content">
                            <div class="dd-c">
                                <a href="/partner1">Q<span style="text-transform: lowercase;">t</span></a>
                            </div>
                            <div class="dd-c">
                                <a href="/partner2">Parasoft</a>
                            </div>
                            <div class="dd-c">
                                <a href="/partner3">IBM</a>
                            </div>
                            <div class="dd-c">
                                <a href="/partner4">Collabnet</a>
                            </div>
                            <div class="dd-c">
                                <a href="/partner5">Phyton</a>
                            </div>
                            <div class="dd-c">
                                <a href="/partner6">Real Intent</a>
                            </div>
                            <div class="dd-c">
                                <a href="/partner7">Omnidex</a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item">
                        <a href="/qttraining">Q<span style="text-transform: lowercase;">t</span> Tranining</a>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#">Service</a>
                        <div class="dropdown-content">
                            <div class="dd-c">
                                <a href="/service1">Q<span style="text-transform: lowercase;">t</span> & QML Service</a>
                            </div>
                            <div class="dd-c">
                                <a href="/service2">Application Development</a>
                            </div>
                            <div class="dd-c">
                                <a href="/service3">Embedded System Service</a>
                            </div>
                            <div class="dd-c">
                                <a href="/service4">In-Vehicle Infotainment(IVI)</a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item">
                        <a href="/about">About</a>
                    </div>
                    <div class="nav-item">
                        <a href="/contact">Contact</a>
                    </div>
                </div>
            </nav>
            </div>
        </div>
    </div>
</div>