<div class="social-icons">

    <div class="social-icon-container">
        <div class="social-icon-menu">
            <div class="sc-icons">
                <a href="#" style="padding: 11px 14px;">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
            <div class="sc-icons">
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
            <div class="sc-icons">
                <a href="#">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
    
</div>