{{>nav}}

<div class="partners-page part-app app-wrapper" style="padding-top: 130px;">

    
    <div class="partnerz-head">
        <div class="partnerz-logo">
            <img src="/images/qt.png" class="img-responsive " width="120">
        </div>
        <div class="partnerz-brief">
            <div class="partnerz-brief-container">
                <p class="text-justify">Qt is a cross-platform application framework that is widely used for developing application software that can be run on various software and hardware platforms with little or no change in the underlying codebase, while still being a native application with the capabilities and speed thereof.</p>
                <h3>AUTOMOTIVE SUITE</h3>
                <p class="text-justify">Enables a unified experience that is linked seamlessly to their lifestyle. The experience goes beyond the infotainment system to any device anywhere.</p>

                <p class="text-justify">Users expect a seamless customer experience between all their devices and services. With Qt inside your car, you enable a thriving ecosystem of services with 3rd party applications.</p>
                <div class="partnerz-image">
                    <div class="col-md-6 cr-d">
                        <h2>Application Development</h2>
                        <img src="/images/qtappdev.png" class="img-responsive " width="420">
                        <p class="text-justify">Qt for Application Development lets you create applications for desktop and mobile platforms. It contains all the Qt APIs and the Qt Creator IDE for seamless cross-platform development.</p>
                    </div>
                    <div class="col-md-6 cr-d">
                        <h2>Device Creation</h2>
                        <img src="/images/qtdevicecreation.png" class="img-responsive " width="420" height="238">
                        <p class="text-justify">With Qt for Device Creation, you can create embedded devices with modern UIs with maximum performance. In addition to Qt APIs, it comes with a full embedded tooling suite built around the Qt Creator IDE, and additional embedded solutions that help you reduce your time-to-market dramatically.</p>
                    </div>
                </div>
                <br/>
                <div class="partnerz-btn">
                     <a href="https://qt.io" target="_blank">Read More</a>
                </div>
            </div>
        </div>
    </div>

</div>