{{>nav}}

<div class="partners-page app-wrapper">
    
    
    <div class="part-banner"></div>
    <div class="part-page-content">
        
        <div class="part-page-container">
            <div class="part-logo">
                <img src="/images/parasoft.png" width="220"/>
            </div>
            <div class="part-head">
                <p>Claytronics expertise encompasses all phases of the development lifecycle leveraged with excellent embedded system knowledge for end-to-end product solution.</p>
            </div>
            <div class="part-brief">
                <h2 class="center-title-part">Corprate Overview</h2>
                <p>Founded in 1987, Parasoft researches and develops software solutions that help organizations deliver defect-free software efficiently. By integrating development testing, API testing, and service virtualization, we reduce the time, effort, and cost of delivering secure, reliable, and compliant software. Parasoft's enterprise and embedded development solutions—which include static analysis, unit testing, coverage analysis, requirements traceability, functional and load testing, dev/test environment management, and more—are the industry's most comprehensive. The majority of Fortune 500 companies rely on Parasoft to help them produce top-quality software consistently and efficiently. Employing over 250 people worldwide, Parasoft is a privately-held, debt-free, and profitable company.</p>
            </div>
            <div class="part-btn">
                <a href="https://www.parasoft.com/" target="_blank">Vist the Website</a>
            </div>
        </div>
    
    </div>


</div>