{{>nav}}

<div class="partners-page app-wrapper">
    
    
    <div class="part-banner"></div>
    <div class="part-page-content">
        
        <div class="part-page-container">
            <div class="part-logo">
                <img src="/images/ibm.png" class="img-responsive " width="250"/>
            </div>
            <div class="part-head">
                <p></p>
            </div>
            <div class="part-brief">
                <h2 class="center-title-part">Continuous Engineering for the electronics industry</h2>
                <p class="text-justify">IBM Continuous Engineering solutions help you define better, design faster, and develop smarter. The IBM Internet of Things (IoT) continuous engineering solution is a set of engineering and development tools that help systems engineers, application developers, and embedded developers work together to create smart and connected products like those in the Internet of Things. With built-in, customizable process support, this solution helps teams respond effectively to continuous feedback from connected products in use, to become more agile, and to streamline compliance with industry standards</p>
            </div>
            <div class="part-btn">
                <a href="https://www.ibm.com/internet-of-things/iot-solutions/product-development/" target="_blank">Read More</a>
            </div>
        </div>
    
    </div>


</div>