{{>nav}}

<div class="partners-page app-wrapper">
    
    
    <div class="part-banner"></div>
    <div class="part-page-content">
        
        <div class="part-page-container">
            <div class="part-logo">
                <img src="/images/collabnet.png" class="img-responsive " width="230"/>
            </div>
            <div class="part-head">
                <p class="text-justify"> Our flagship product, TeamForge®, is the industry’s #1 open platform for enterprise software development, delivery, and collaboration. Leading companies and government agencies leverage TeamForge to accelerate application delivery with Agile, continuous integration (CI), continuous delivery (CD), and DevOps—and reduce costs through a governed adoption of open source tools, streamlined compliance, and the reuse of existing assets, resources, and processes in new projects.</p>
            </div>
            <div class="part-brief">
                <h2 class="center-title-part">A history of innovation</h2>
                <p class="text-justify">CollabNet helps enterprises and government organizations develop and deliver high-quality software at speed. CollabNet is the winner of a 2016 Best of Interop Award, recognizing TeamForge for its innovation. Also recognized for 13 consecutive years as an SD Times 100 “Best in Show” winner in the ALM and Development Tools category, CollabNet offers innovative solutions, provides consulting and Agile training services, and proudly supports more than 10,000 customers with 6 million users in 100 countries.</p>
            </div>
            <div class="part-btn">
                <a href="https://www.collab.net/" target="_blank">Read More</a>
            </div>
        </div>
    
    </div>


</div>