{{>nav}}
<div class="aboutpage app-wrapper" style="padding-top: 115px;">
    
    <div class="about-banner">
        <div class="abt-bnr-head">
            <h2>About</h2>
        </div>
        <div class="abt-bnr-para">
            <p>When skill meets passion you are sure to breed success.
We deliver customized services for Mulitmedia, Consumer Electronics and Automotive Infotainment Verticals.</p>
        </div>
        
    </div>
    <div class="page-content">
        <div class="page-content-container">
            <div class="abt-content-control">
                <div class="abt-content-container container">
                    <div class="col-md-6 abt-panel">
                        <div class="abt-img-box">
                            <img src="/images/abt1.jpg" width="520">
                        </div>
                    </div>
                    <div class="col-md-6 abt-panel">
                        <div class="ar-down">
                            <h3>Who are we?</h3>
                        </div>
                        <div class="ar-para">
                            <p>Head Quartered at Bangalore, India, Claytronics Solutions was founded in 2010 by professionals with a combined experience of over 80 years in the Consumer electronics, Media, Embedded and Electronics Industry. As the name says by it all CLAYTRONICS and abstract future concept in the area of electronics, robotics and computer science, we have provide the best of breed solutions a good combination of products and technology services to the futuristic approach on the industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="abt-content-control">
                <div class="abt-content-container container">
                    <div class="col-md-6 abt-panel">
                        <div class="ar-down">
                            <h3>Mission</h3>
                        </div>
                        <div class="ar-para">
                            <p>Deliver highest value to our customers and principals as a premier business and technology partner.
Preferred and strategic channel partners in the regions that we represent the principal companies whom we associate.
Create value proposition to the principal business interest, products and solutions.</p>
                        </div>
                    </div>
                    <div class="col-md-6 abt-panel">
                        <div class="abt-img-box">
                            <img src="/images/abt2.png" width="520">
                        </div>
                    </div>
                </div>
            </div>
            <div class="abt-content-control">
                <div class="abt-content-container container">
                    <div class="col-md-6 abt-panel">
                        <div class="abt-img-box">
                            <img src="/images/abt3.jpg" width="520">
                        </div>
                    </div>
                    <div class="col-md-6 abt-panel">
                        <div class="ar-down">
                            <h3>Vision</h3>
                        </div>
                        <div class="ar-para">
                            <p>Provide Uncompromising level of service and support to Enhance customer satisfaction through pre-sales and post-sales Technical support for healthy deployment of the principal product/solutions.  
Leave No stone unturned to represent and promote principal companies products and/or solutions.
Offer Unique, Intuitive and specialized services and expertise at each stage of a product's life cycle & IP Development.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>