{{>nav}}

<div class="channelpage app-wager" style="padding-top: 130px;">


    <div class="side-banner">
        <div class="background-side3"></div>
        <div class="cr-head">
            <h2>Channel Partners</h2>
            <p>We bring to the region, solution and product partners that are global leaders in design, development, manufacturing, customization and integration of products and solutions for the industrial market.</p>
        </div>
    </div>
    
    <div class="page-content">
        <div class="page-container container">
            <div class="col-md-12 chr2-box">
                <div class="partner-content">
                    <a class="chr-link" href="/partner1">
                        <img src="/images/qt.png" width="120" style="filter: grayscale(100%);-webki-filter: grayscale(100%); opacity: .8;">
                        <div class="open-para">
                            <p>C++ based cross-platform application and UI framework</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 chr-box">
                <div class="partner-content">
                    <a class="chr-link" href="/partner3">
                    <img src="/images/clients/11.png" width="240"/>
                     <!--<div class="open-cont">+</div>-->
                    <div class="open-para">
                        <p>IBM Rational is suite of Powerful and Model driven software development framework including suite of tools for entire software life cycle management.</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 chr-box">
                <div class="partner-content">
                    <a class="chr-link" href="/partner2">
                    <img src="/images/clients/12.png" width="240"/>
                    <!--<div class="open-cont">+</div>-->
                    <div class="open-para">
                        <p>Parasoft’s API Integrity solution simplifies the complex testing that's vital for secure, reliable, and compliant composite applications.</p>
                    </div>
                    </a>
                </div>
                <!--<div class="modal-window">
                 <div class="modal-window-content">
                        <div class="chr-head">
                            <h3>Parasoft</h3>
                        </div>
                        <div class="chr-para">
                            <p>Parasoft’s API Integrity solution simplifies the complex testing that's vital for secure, reliable, and compliant composite applications.</p>
                        </div>
                        <div class="chr-link">
                            <a href="#">Visit The Website</a>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="col-md-4 chr-box">
                <div class="partner-content">
                    <a class="chr-link" href="/partner5">
                    <img src="/images/clients/13.png" width="240"/>
                     <!--<div class="open-cont">+</div>-->
                    <div class="open-para">
                        <p>Phyton Cost-effective development tools for 8051, 80C196, PICmicro, RSC4 and other embedded microcontrollers.</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 chr-box">
                <div class="partner-content">
                    <a class="chr-link" href="/partner6">
                    <img src="/images/clients/14.png" width="240"/>
                     <!--<div class="open-cont">+</div>-->
                    <div class="open-para">
                        <p>Real Intent is the leading provider of EDA software to accelerate Early Functional and Advanced Sign-off of digital verificational designs.</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 chr-box">
                <div class="partner-content">
                    <a class="chr-link" href="/partner7">
                    <img src="/images/clients/15.png" width="240"/>
                     <!--<div class="open-cont">+</div>-->
                    <div class="open-para">
                        <p>Omnidex combines the power of indexing, the ease of SQL and the flexibility of text searches to make your database fast and powerful.</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 chr-box">
                <div class="partner-content">
                   <a class="chr-link" href="/partner4">
                    <img src="/images/clients/16.png" width="240"/>
                     <!--<div class="open-cont">+</div>-->
                    <div class="open-para">
                        <p>CollabNet provides industry-leading products, plus Agile consulting and training services, to help organizations develop and deliver enterprise-scale software, faster. Creators of Subversion and pioneers in ALM solutions.</p>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
    
    
</div>