{{>nav}}

<div class="contactpage app-warpper" style="padding-top: 130px;">



    <div class="contactpage-container">

        <div class="page-map-banner">
            <div id="map" style=" height: 360px;width: 100%;position: relative; z-index: 100;" class="map_css"></div>
       <!--
            <script type="text/javascript">
                var locations = [
                    ['Claytronics Solutions<br># 59/1, Ram Skanda ,' +
                    '<br> 2nd floor,K R Road, Basavanagudi,Bengaluru,' +
                    '<br> Karnataka,India, Pincode- 560004' +
                    '<br>Phone:080-64566882 <br>', 12.943284, 77.573513, 1],];

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 2,
                    center: new google.maps.LatLng(0.5, -2),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var options={
                    minZoom:1,
                    maxZoom:10
                }
                map.setOptions(options)
                var infowindow = new google.maps.InfoWindow();

                var marker, i;

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map
                    });

                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            </script>
            <div id="map"></div>-->
            <script>
                var map;
                function initMap() {
                    var locations = [
                        ['Yitsol<br>Plot No:18<br>PJR Enclave Road,<br>Madinaguda,Opp. GHMC Park<br>Hyderabad,India,Pincode - 500 050<br>Phone:+91 404002 3361 <br><a href="https://www.google.co.in/maps/place/YITSOL/@17.4970797,78.3325354,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb9289198c24ff:0x5a789a9376f35ca!8m2!3d17.4970797!4d78.3347241" target="_blank">Directions</a>', 17.4971, 78.3347, 1]

                    ];

                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 2,
                        center: new google.maps.LatLng(0.5, -2),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });

                    var options = {
                        minZoom: 1,
                        maxZoom: 0
                    }
                    map.setOptions(options)
                    var infowindow = new google.maps.InfoWindow();

                    var marker, i;

                    for (i = 0; i < locations.length; i++) {
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                            map: map
                        });

                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                infowindow.setContent(locations[i][0]);
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                    }
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn6012-Mbu8xCH5IwXe-VW_3E2ti8hiFo&callback=initMap" async defer ></script>
        </div>
        <div class="page-content-container3 container">
            <div class="col-md-8">
                <div class="contact-form">
                    <div class="contactForm-container">
                        <div class="contact-head">
                            <h3>Get In Touch</h3>
                        </div>
                        <form class="contact" method="post">
                            <div class="form-wrapper">
                                <div class="contact-input">
                                    <input class="con-in" type="text" name="name" placeholder="Name" />
                                </div>
                                <div class="contact-input">
                                    <input class="con-in" type="text" name="email" placeholder="Email" />
                                </div>
                                <div class="contact-input">
                                    <input class="con-in" type="text" name="contact" placeholder="Contact" />
                                </div>
                                <div class="contact-input">
                                    <textarea class="con-txt" type="text" name="message" placeholder="Write Message"></textarea>
                                </div>
                                <div class="contact-input">
                                    <input type="submit" value="Send" class="con-btn">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-info">
                    <div class="cc-info-head">
                        <h2>Reach Us</h2>
                    </div>
                    <div class="cc-info">
                        <h2 class="cc-i">Main Office</h2>
                        <address>
                            # 59/1, ‘Ram Skanda’ , 2nd floor,<br> K R Road, Basavanagudi,<br> Bengaluru, Karnataka 560004
                        </address>
                    </div>
                    <div class="cc-info">
                        <h2 class="cc-i">Phone</h2>
                        <p>Tel &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; 080-64566882</p>
                        <p>Mob &nbsp;&nbsp;:&nbsp; +91-9035682122</p>
                    </div>
                    <div class="cc-info">
                        <h2 class="cc-i">Email</h2>
                        <p><a href="mailto:sales@claysol.com">sales@claysol.com</a></p>
                        <p><a href="mailto:umesh@claysol.com">umesh@claysol.com</a></p>
                    </div>
                    <div class="cc-info">
                        <h2 class="cc-i">Business Hours</h2>
                        <p> Monday - Friday 9am to 6pm</p>
                        <p> Weekends - Closed</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

</div>