<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/javascripts/swiper/idangerous.swiper.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/javascripts/modernizr.custom.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/custom.js"></script>
    <script src="/javascripts/swiper/idangerous.swiper.js"></script>
    <script src="/javascripts/modernizr/modernizr.custom.js"></script>
    
</head>

<body>
    <div class="site-container">
        {{{body}}}
        {{>social}}
        {{>footer}}
    </div>
    <script type="text/javascript" > var user_id_level   = 'MjA3OA=='; </script>
    <script type="text/javascript" > var new_id          = 'LKM0p'; </script>
    <script type="text/javascript" src="https://www.leadzgen.com/assets/js/fingerprint.js"></script>
    <script type="text/javascript" src="https://www.leadzgen.com/assets/js/leadscall/lead_finger.js"></script>
    <script type="text/javascript" src="https://www.leadzgen.com/assets/js/leadscall/lead_init.js"></script>
    <script type="text/javascript" src="https://www.leadzgen.com/assets/js/leadscall/lead_call.js"></script>
    <script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
    <script type="text/javascript" src="https://www.leadzgen.com/assets/js/leadscall/lead_custom.js"></script>
</body>

</html>