{{>nav}}
<div class="qttraining app-wager" style="padding-top: 130px;">
    <div class="side-banner img-responsive">
        <div class="background-side2"></div>
        <div class="pr-head">
            <h2>Q<span>T</span> Training</h2>
            <p>The best training comes from people, who walk the talk</p>
        </div>
    </div>
    <div class="page-content">
        <div class="page-content-container container">
            <div class="col-content-grid">
                <div class="col-md-6 pr-box">
                    <div class="pr-content">
                        <p class="text-justify">At Claytronics, the impact of our training comes from our extensive expertise in various domains. Our team members are subject specialists who impart their personal skills and experience through planned modules. That’s why we are the best people to train for Qt/QML. We come with years of experience on the floor grinding it for our client to teach you the best kept secrets of Qt/QML design and architectural framework.</p>
                    </div>
                </div>
                <div class="col-md-6 pr-box">
                    <div class="pr-content2">
                        <div class="pr-img">
                            <img src="/images/qtT.png" class="img-responsive " width="600">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pr-btm">
                    <div class="pr-btm-image">
                        <img src="/images/qtTrain.png" class="img-responsive " width="620"/>
                    </div>
                    <p class="text-justify">We specialize in software development and consulting in India and have successfully completed framework for numerous clients over the world. Come learn with us.</p>
                </div>
    </div>
</div>