{{>nav}}

<div class="appdev app-wrapper" style="padding-top: 130px;">
    <div class="side-banner img-responsive">
        <canvas class="connecting-dots"></canvas>
        <div class="sr-head">
            <h2>Application Developement</h2>
            <em>"END TO END SUPPORT OVER SATISFIED CUSTOMERS"</em>
            <p class="text-justify">Claytronics’s proven track record for seamless development and integration ensures that we are an optimal choice for application development across several platforms and languages.</p>
        </div>
    </div>



    <div class="page-content">
        <div class="experties-content container">
        <div class="col-md-6">
                <div class="dy-head">
                    <h2>System Development</h2>
                </div>

            <div class="fadein scaleInv anim_2">
                <p class="subText">
                    <i class="icon-ok"></i> C, C++
                </p>
            </div>
            <div class="fadein scaleInv anim_3">
                <p class="subText">
                    <i class="icon-ok"></i> Swift ,HTML
                </p>
            </div>
            <div class="fadein scaleInv anim_4">
                <p class="subText">
                    <i class="icon-ok"></i> Net,C#/Java/Java script

                </p>
            </div>
            <div class="fadein scaleInv anim_5">
                <p class="subText">
                    <i class="icon-ok"></i> Objective - C


                </p>
            </div>
            <div class="fadein scaleInv anim_6">
                <p class="subText">
                    <i class="icon-ok"></i> OpenGL
                </p>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 5%;margin-left: -8%;">
            <div class="animated fadeInLeftNow notransition fadeInLeft">
                <div class="tabs">

                    <div class="tab-content">
                        <div class="tab-pane active" id="aboutUs">
                            <p class="text-justify">
                                <img src="https://pbs.twimg.com/profile_images/656075678194884608/2vBKY7KW.png" class="round-image" style="width:80px;height:80px;" alt="">
                                If you are planning to launch your TV content on the latest Smart TV platforms, please get in touch with us. We are the one-stop source for all your Smart TV requirements.
                            </p>
                        </div>
                        <div class="tab-pane" id="special">
                            <ul class="checklist unstyled">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="page-content-container var1">
            <div class="var1-brief">
                <p class="text-justify">Smart TVs are changing the landscape of television. Smart TVs have been around for several years, but the early versions were just regular televisions which had an internet connection and a browser. They allowed you to browse the net from the TV, an idea that never took off, because TVs were never designed for browsing. The concept of Smart TV has undergone a paradigm shift in the last few years. What changed the landscape was the concept of "apps" for the TV. The initial apps to appear for Smart TVs were popular services like YouTube, Netflix etc. These were typically preloaded by the TV manufacturers. Today's Smart TVs have app stores much in line with Smart Phone apps, which give the choice of thousands of programmes which can be downloaded and installed on TV. Smart TVs need not be in the form of a TV. Streaming media boxes and dongles that connect to a TV and offer the requisite streaming video connectivity also fit under the broad category of smart TV devices. So Roku and AppleTV settop boxes are smart TV devices, as are the Google Chromecast, Roku Streaming Stick, and Amazon Fire Stick.</p>
            </div>
            <div class="var-img2">
                <div class="col-md-6">
                    <img src="/images/app/app.png" class="img-responsive" width="400">
                    <div class="vimg-desc">
                        <p>Mobile App Development</p>
                    </div>
                </div>
                <div class="col-md-6">
                     <img src="/images/app/webos.jpg" class="img-responsive" width="420">
                    <div class="vimg-desc">
                        <p>Web OS</p>
                    </div>
                </div>
            </div>
            <div class="var-img2">
                <div class="col-md-6">
                    <img src="/images/app/roku.jpg"  class="img-responsive" width="420">
                    <div class="vimg-desc">
                        <p>Roku TV</p>
                    </div>
                </div>
                <div class="col-md-6">
                     <img src="/images/app/xbox.jpg" class="img-responsive" width="420">
                    <div class="vimg-desc">
                        <p>XBox</p>
                    </div>
                </div>
            </div>
            <div class="var-img2">
                <div class="col-md-6">
                    <img src="/images/app/web.jpg" class="img-responsive" width="420">
                    <div class="vimg-desc">
                        <p>Website Development</p>
                    </div>
                </div>
                <div class="col-md-6">
                     <img src="/images/app/samsung.jpg" class="img-responsive" width="420">
                    <div class="vimg-desc">
                        <p>Samsung TV</p>
                    </div>
                </div>
            </div>
            <div class="var2-brief">
                <p class="text-justify">Apple CEO Tim Cook recently while launcing the new Apple TV product was quoted saying "We believe the future of TV is apps”. We at Claysol share this vision. We are comitted to provide world class development services for Smart TV apps across platforms. Our Smart TV team is capabale of delivering best in class apps for Smart TVs like Samsung, LG and Panasonic, Streaming Devices like Roku, FireTV and AppleTV. We also develop apps for Android based STBs. We also specialize in Ad integration and analytics</p>
            </div>
        </div>
    </div>
</div>
<script>
    var canvasDots = function() {
    var canvas = document.querySelector('canvas'),
        ctx = canvas.getContext('2d'),
        colorDot = '#21be2b',
        color = '#21be2b';
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    canvas.style.display = 'block';
    ctx.fillStyle = colorDot;
    ctx.lineWidth = .2;
    ctx.strokeStyle = color;

    var mousePosition = {
        x: 30 * canvas.width / 100,
        y: 30 * canvas.height / 100
    };

    var dots = {
        nb: 300,
        distance: 60,
        d_radius: 100,
        array: []
    };

    function Dot(){
        this.x = Math.random() * canvas.width;
        this.y = Math.random() * canvas.height;

        this.vx = -.5 + Math.random();
        this.vy = -.5 + Math.random();

        this.radius = Math.random();
    }

    Dot.prototype = {
        create: function(){
            ctx.beginPath();
            ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
            ctx.fill();
        },

        animate: function(){
            for(i = 0; i < dots.nb; i++){

                var dot = dots.array[i];

                if(dot.y < 0 || dot.y > canvas.height){
                    dot.vx = dot.vx;
                    dot.vy = - dot.vy;
                }
                else if(dot.x < 0 || dot.x > canvas.width){
                    dot.vx = - dot.vx;
                    dot.vy = dot.vy;
                }
                dot.x += dot.vx;
                dot.y += dot.vy;
            }
        },

        line: function(){
            for(i = 0; i < dots.nb; i++){
                for(j = 0; j < dots.nb; j++){
                    i_dot = dots.array[i];
                    j_dot = dots.array[j];

                    if((i_dot.x - j_dot.x) < dots.distance && (i_dot.y - j_dot.y) < dots.distance && (i_dot.x - j_dot.x) > - dots.distance && (i_dot.y - j_dot.y) > - dots.distance){
                        if((i_dot.x - mousePosition.x) < dots.d_radius && (i_dot.y - mousePosition.y) < dots.d_radius && (i_dot.x - mousePosition.x) > - dots.d_radius && (i_dot.y - mousePosition.y) > - dots.d_radius){
                            ctx.beginPath();
                            ctx.moveTo(i_dot.x, i_dot.y);
                            ctx.lineTo(j_dot.x, j_dot.y);
                            ctx.stroke();
                            ctx.closePath();
                        }
                    }
                }
            }
        }
    };

    function createDots(){
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        for(i = 0; i < dots.nb; i++){
            dots.array.push(new Dot());
            dot = dots.array[i];

            dot.create();
        }

        dot.line();
        dot.animate();
    }

    window.onmousemove = function(parameter) {
        mousePosition.x = parameter.pageX;
        mousePosition.y = parameter.pageY;
    }

    mousePosition.x = window.innerWidth / 2;
    mousePosition.y = window.innerHeight / 2;

    setInterval(createDots, 1000/30);
};

window.onload = function() {
    canvasDots();
};
</script>