{{>nav}}
<div class="servicepage app-wager" style="padding-top: 120px;">
    
    <div class="side-banner">
        <div class="background-side1"></div>
        <div class="sr-head">
            <h2>Services</h2>
            <p>Your search for a design and development partner for complex based applications ends with Claytronics!</p>
        </div>
    </div>
    <div class="page-content">
        <div class="page-content-container container">
            <div class="content-coloumns">
                <div class="col-md-6 ser-ne">
                    <div class="panelc-info">
                        <ul>
                            <li>Product Conceptualization</li>
                            <li>Systems Design in various domains</li>
                            <li>Embedded Software Development & tools</li>
                            <li>Application Development & Deployment</li>
                            <li>System Maintenance, Product Migration & Feature Enhancement</li>
                            <li>Customized low-level S/W e.g. Firmware, Drivers and Middleware</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 ser-ne">
                    <div class="panelc-brief">
                        
                        <div class="panelc-head">
                            <h2>Best Services</h2>
                            <p>Claytronics offers cost effective and high quality product engineering services.</p>
                        </div>
                        <div class="panelc-head">
                            <h2>Great Support</h2>
                            <p>We can help to turn your concepts into world class products by providing as well as software development and all the required tools.</p>
                        </div>
                        <div class="panelc-head">
                            <h2>Quality Products</h2>
                            <p>With expertise in implementing embedded software, we have the ability to design on custom operating systems, and also straight to the metal.</p>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="service-content-col">
                <div class="col-md-3 ser-cont">
                    <div class="ser-redirect">
                        <a href="/service4"></a>
                        <img src="/images/car.svg" width="60">
                        <h3>In-Vehicle Infotainment(IVI)</h3>
                    </div>
                </div>
                <div class="col-md-3 ser-cont">
                    <div class="ser-redirect">
                        <a href="/service2"></a>
                        <img src="/images/app.svg" width="60">
                        <h3>Application Development</h3>
                    </div>
                </div>
                <div class="col-md-3 ser-cont">
                    <div class="ser-redirect">
                        <a href="/service3"></a>
                        <img src="/images/board.svg" width="60">
                        <h3>Embedded System</h3>
                    </div>
                </div>
                <div class="col-md-3 ser-cont">
                    <div class="ser-redirect">
                        <a href="/service1"></a>
                        <img src="/images/book.svg" width="60">
                        <h3>Qt Training</h3>
                    </div>
                </div>
            </div>
        
    </div>

</div>
