<div class="container">
			<div class="main">
				<div id="cbp-contentslider" class="cbp-contentslider">
					<ul>
						<li id="slide1">
							<h3 class="ion-wolf">Automotive Diagonistic</h3>
							<div>
							<div class="col-md-6">
								<div class="cbp-content">
									<h4>Project</h4>
									<p>Enterprise-level PACS (Picture Archival and Communications System) and TeleRadiology solution used at numerous hospitals and radiology centers across the world.
									</p>
									<h4>Solution</h4>
									<p>The Qt framework is the backbone of the client-side desktop solution, used for its rich UI and efficient concurrency capabilities. It includes modules for editing DICOM files (images, datasets and reports) and manage workflows.</p>
									<h4>Platform</h4>
									<p>Hardware : IMX7 Duel Sabre Board OS: Embedded Linux</p>
								</div>
							</div>
							<div class="col-md-6"></div>
						
							
						</div>
						</li>
						<li id="slide2">
							<h3 class="ion-rabbit">BSP Development</h3>
							<div>
								<div class="col-md-6">
								<div class="cbp-content">
									<h4>Project</h4>
									<p>Enterprise-level PACS (Picture Archival and Communications System) and TeleRadiology solution used at numerous hospitals and radiology centers across the world.
									</p>
									<h4>Solution</h4>
									<p>The Qt framework is the backbone of the client-side desktop solution, used for its rich UI and efficient concurrency capabilities. It includes modules for editing DICOM files (images, datasets and reports) and manage workflows.</p>
									<h4>Platform</h4>
									<p>Hardware : IMX7 Duel Sabre Board OS: Embedded Linux</p>
								</div>
								</div>
								<div class="col-md-6"></div>
							</div>
						</li>
						<li id="slide3">
							<h3 class="ion-aligator">Health Care Software</h3>
							<div>
							<div class="col-md-6">
								<div class="cbp-content">
									<h4>Project</h4>
									<p>Enterprise-level PACS (Picture Archival and Communications System) and TeleRadiology solution used at numerous hospitals and radiology centers across the world.
									</p>
									<h4>Solution</h4>
									<p>The Qt framework is the backbone of the client-side desktop solution, used for its rich UI and efficient concurrency capabilities. It includes modules for editing DICOM files (images, datasets and reports) and manage workflows.</p>
									<h4>Platform</h4>
									<p>Hardware : IMX7 Duel Sabre Board OS: Embedded Linux</p>
								</div>
								</div>
								<div class="col-md-6"></div>
							</div>
						</li>
						<li id="slide4">
							<h3 class="ion-turtle">Hospitality-Management</h3>
							<div>
							<div class="col-md-6">
								<div class="cbp-content">
									<h4>Project</h4>
									<p>Enterprise-level PACS (Picture Archival and Communications System) and TeleRadiology solution used at numerous hospitals and radiology centers across the world.
									</p>
									<h4>Solution</h4>
									<p>The Qt framework is the backbone of the client-side desktop solution, used for its rich UI and efficient concurrency capabilities. It includes modules for editing DICOM files (images, datasets and reports) and manage workflows.</p>
									<h4>Platform</h4>
									<p>Hardware : IMX7 Duel Sabre Board OS: Embedded Linux</p>
								</div>
								</div>
								<div class="col-md-6"></div>
							</div>
						</li>
						<li id="slide5">
							<h3 class="icn-platypus">New Gen UI-Interface</h3>
							<div>
							<div class="col-md-6">
								<div class="cbp-content">
									<h4>Project</h4>
									<p>Enterprise-level PACS (Picture Archival and Communications System) and TeleRadiology solution used at numerous hospitals and radiology centers across the world.
									</p>
									<h4>Solution</h4>
									<p>The Qt framework is the backbone of the client-side desktop solution, used for its rich UI and efficient concurrency capabilities. It includes modules for editing DICOM files (images, datasets and reports) and manage workflows.</p>
									<h4>Platform</h4>
									<p>Hardware : IMX7 Duel Sabre Board OS: Embedded Linux</p>
								</div>
								</div>
							</div>
						</li>
					</ul>
					<nav>
						<a href="#slide1" class="icn-wolf"><span>Automotive</span></a>
						<a href="#slide2" class="icn-rabbit"><span>BSP</span></a>
						<a href="#slide3" class="icn-aligator"><span>Health</span></a>
						<a href="#slide4" class="icn-turtle"><span>Hospitality</span></a>
						<a href="#slide5" class="icn-platypus"><span>UI</span></a>
					</nav>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="javascripts/jquery.cbpContentSlider.min.js"></script>
		<script>
			$(function() {
				/*
				- how to call the plugin:
				$( selector ).cbpContentSlider( [options] );
				- options:
				{
					// default transition speed (ms)
					speed : 500,
					// default transition easing
					easing : 'ease-in-out',
					// current item's index
					current : 0
				}
				- destroy:
				$( selector ).cbpContentSlider( 'destroy' );
				*/

				$( '#cbp-contentslider' ).cbpContentSlider();
			});
		</script>